.idea/
*.iml
/out/
*.class
target/
.svn/
.classpath
.settings/*
.externalToolBuilders/*
.project
*.log
*.log.*
.DS_Store
*/.DS_Store
.settings/
src/main/webapp/WEB-INF/logs/
src/test/logs/
src/main/resources/conf/config.properties
src/main/resources/conf/log4j.properties
/bin/
config.properties
/pom.xml
